@import "../../scss/partials/transitions";
@import "../../scss/partials/colors";
@import "../../scss/partials/fonts";

.todo {
    width: 90%;
    max-width: 500px;
    height: 60px;
    border-radius: 10px;
    background-color: $primary-color-900;
    color: $primary-color-100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding-inline: 1em;

    .buttons {
        display: flex;
        align-items: center;
        gap: 10px;

        .secondary-btn {
            color: $primary-color-100;
            &.hidden {
                display: none;
            }
        }
    }

    form {
        flex-grow: 1;

        input {
            width: 100%;
            outline: none;
            padding: 0.5em 1em;
            border-radius: 5px;
            border: 1px solid rgba($color: $primary-color-900, $alpha: 0.2);
            background-color: transparent;
            color: $primary-color-100;
            font-family: $inter;
        }
    }
}
